body{
    width: 100%;
    height: 3400px;
    background: white;
    margin-right: 110px;
    margin-left: 0;
}
@font-face {
	font-family: 'VAG World Bold';
	src: url('.../fonts/vag_world_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('.../fonts/vag_world_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('.../fonts/vag_world_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('.../fonts/vag_world_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('.../fonts/vag_world_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('.../fonts/vag_world_bold.svg#vag_world_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
#head{
    height: 92.5px;
    left: 20px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
#buttons{
    gap: 35px;
    border: white solid 2px;
    font-size: 15px;
    display: flex;

} 
.a{
    opacity: 0.5;
    font-family: 'VAG World Bold';
}
.a:hover{
    color: rgb(0, 238, 255);
    transition: 1s;
}
.a:not(:hover){
    color: #000;
    transition: 1s;
}
.b{
    color: #000;
    font-size: 24px;
    font-weight: 900;
    font-family: 'VAG World Bold';
}
.c{
    color: rgb(0, 238, 255);
    font-size: 24px;
    font-family: 'VAG World Bold';
}
.bx{
    color: yellow;
    font-size: 24px;

}
#asd{
    background-image: url(App-Landing-Page-Website-Design-PSD.jpg);
    width: 100%;
    height: 839px;

}
#asf{

    width: 590px;
    position: absolute;
    height: 920px;
    margin-top: 200px;
    margin-left: 160px;
    justify-content: space-between;
}
h1{
    color: white;
}
#h2{
    font-size: 50px;
}
#input{
    border-radius: 5px;
    width: 423px;
    height: 100%;
    outline: none;
    padding: 0 29px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
}
#input::-webkit-input-placeholder {
    color: black; 
    opacity: 0.4; 
    font-size: 16px;
}
.FREE{
    background-color: yellow;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    display: inline-flex;
    left:90px;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:white;
    top: 277.5px;
    font-size: 20px;
}
.asdf{
    display: inline-block;
}
#SU{
    width: 110px;
    height: 100%;
    background: green;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
#is{
    width: 573px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 58px;
}
p{
    color: white;
    position: relative;
}
h3{
    color: white;
}
#a1{
    height: 100px;
    width: 100px;
}
#a1{
    color: white;
}
#fgh{
    font-size: 27px;
}
.dwa{
    position: absolute;
    top: 280px;
    font-size: 20px;
}
#logos{
    display: flex;
    width: 960px;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    opacity: 0.5;
}
#logos1{
    margin-left: 65px;
}
#a5{
    height: 40px;
    width: 160px;
}
#a6{
    height: 35px;
    width: 145px;
}
#a7{
    height: 40px;
    width: 125px;
}
#a8{
    height: 30px;
    width: 130px;
}
#a9{
    height: 40px;
    width: 115px;
}
#v{
    font-size: 40px;
    color: black;
}
#c{
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#f{
    background-image: url(App-Landing.jpg);
    height: 2157px;
    width: 94.5%;
    background-size: 100% 100%;
    margin-left: 110px;
    margin-right: 110px;

}
h2{
    font-weight: 1;
    font-weight: 1;
}
    #geek{
    width: 550px;
    margin-left: 15px;
    position: absolute;
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    height: 630px;
}
#mn{
    color: #000;
    opacity: 0.5;
    font-weight: 0.1;
    line-height: 20px;
    font-size: 18.3px;
}
#l{
    font-weight: 1;
    font-size: 40px;
    color: black;
}
#t{
    position: absolute;
    margin-left: 5px;
    width: 715px;
    margin-top: 930px;
    text-align: right;
    height: 230px;
}
#m{
    color: #000;
    opacity: 0.5;
    font-size: 20px;
    line-height: 30px;
}
#k{
    color: #000;
    font-size: 28px;
    font-weight: 1;
    margin-left: 110px;
    position: absolute;

}
#works{
    width: 710px;
    display: flex;
    align-content: left;
    flex-wrap: wrap;
    margin-top: 130px;
}
#m1{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 2400px;
    display: flex;
    justify-content: space-between;
    width: 760px;
    height: 1000px;
}
#bg{
    color: black;
    width: 20px;
    opacity: 0.5;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
#bg:hover{
    background-color: aqua;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: 0.5s;
    border-radius: 100px;
}
#bv{
    width: 130px;
    position: absolute;
    height: 30px;
    margin-top: 1370px;
    margin-left: 600px;
    display: flex;
    justify-content: space-between;
}
#lk{
    opacity: 0.9;
    font-size: 50px;
    font-weight: 100;
}
#hjk{
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 2980px; 
    position: absolute;
    flex-flow: column;
}
#zxc{
    font-size: 28px;
    font-weight: 0;
color: black;
font-style: italic;
}
#la{
    border-radius: 5px;
    width: 700px;
    outline: none;
    padding: 0 29px;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
}
#la::-webkit-input-placeholder {
    color: black; 
    opacity: 0.2; 
    font-size: 20px;
    margin-left: 0px;
}
.SIGN{
    width: 200px;
    height: 95px;
    background: green;
    text-align: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;   
    opacity: 0.8;
}
#trade{
    position: absolute;
    margin-top: 2px ;
    font-size: 25px;
}
#one{
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    margin-top: 450px;
    justify-content: space-between;
    width: 900px;
}
#abc{
    color: #000;
    opacity: 0.2;
    font-size: 60px;
    position: absolute;
    margin-top: 350px;
    left: 440px;
}
#head2{
    height: 92.5px;
    left: 20px;
    width: 90%;
    top: 3400px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-left: 110px;
    display: flex;
}
.afg{
    opacity: 0.3;
    color: black;
    font-size: 24px;
    font-family: 'VAG World Bold';
}
#loop{
    color: #000;
    opacity: 0.3;
    font-size: 24px;
}
#tweet{
    color: aqua;
}
#face{
    color: blue;
}
#goog{
    color: red;
}
#s1{
    color: blue;
    display: inline-block;
    font-size: 30px;
}
#gg{
    margin-left: 50px;
}
#s2{
    color: green;
    display: inline-block;
    font-size: 30px;
}
#s3{
    color: blue;
    display: inline-block;
    font-size: 30px;
}
#s4{
    color: blue;
    display: inline-block;
    font-size: 30px;
}